@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translateY(-25%);
    animation-timing-function: ease-out;
  }
}

.bounce-slow {
  animation: bounce 5s infinite;
}
